footer
	.container
		.row
			.col-xs-12.col-sm-4
				.footer-block.footer-block--hoekje.fblock
					//-.fblock__logo
						.kkv-logo
							img(src="img/Centraal-Beheer-Logo-2015-309x200px.png")
					h3.fblock__header Profiteer van korting bij Centraal Beheer:
					.fblock__text.fblock__text--discount-list
						ul
							li #[a.lp-link.lp-link--name(href="#{autoLPLink}" data-cre='#{dataCre}') Autoverzekering] #[a.lp-link.lp-link--discount(href="#{autoLPLink}" data-cre='#{dataCre}') min. 8% korting]
							li #[a.lp-link.lp-link--name(href="#{woonLPLink}" data-cre='#{dataCre}') Woonverzekering] #[a.lp-link.lp-link--discount(href="#{woonLPLink}" data-cre='#{dataCre}') min. 8% korting]
							li #[a.lp-link.lp-link--name(href="#{rechtLPLink}" data-cre='#{dataCre}') Rechtsbijstandverzekering] #[a.lp-link.lp-link--discount(href="#{rechtLPLink}" data-cre='#{dataCre}') Lees meer]
							li #[a.lp-link.lp-link--name(href="#{bootLPLink}" data-cre='#{dataCre}') Bootverzekering] #[a.lp-link.lp-link--discount(href="#{bootLPLink}" data-cre='#{dataCre}') min. 5% korting]
							li #[a.lp-link.lp-link--name(href="#{caravanLPLink}" data-cre='#{dataCre}') Caravanverzekering] #[a.lp-link.lp-link--discount(href="#{caravanLPLink}" data-cre='#{dataCre}') min. 5% korting]
							li #[a.lp-link.lp-link--name(href="#{camperLPLink}" data-cre='#{dataCre}') Camperverzekering] #[a.lp-link.lp-link--discount(href="#{camperLPLink}" data-cre='#{dataCre}') min. 5% korting]
							li #[a.lp-link.lp-link--name(href="#{motorLPLink}" data-cre='#{dataCre}') Motorverzekering] #[a.lp-link.lp-link--discount(href="#{motorLPLink}" data-cre='#{dataCre}') min. 15% korting]
			.hidden-xs-ls.col-ts-12.col-sm-4
				.footer-block.footer-block--hoekje.fblock
					.fblock__logo
						.kkv-logo
							img(src="img/kkv-logo-329x311px.png")
					h3.fblock__header Keurmerk Klantgericht Verzekeren
					.fblock__text
						p Zilveren Kruis en Centraal Beheer hebben het Keurmerk Klantgericht Verzekeren verdiend. Een kwaliteitskeurmerk waarbij klantgericht werken centraal staat.
			.hidden-xs-ls.col-ts-12.col-sm-4
				.footer-block.footer-block--hoekje.fblock
					.fblock__logo
						.cb-beste-logo
							img(src="img/rechtsbijstand-beste_uit_de_test-20141.jpg")
					h3.fblock__header Als beste uit de test
					.fblock__text
						p De Rechts&shy;bijstand&shy;verzekering van Centraal Beheer is door de Consumentenbond bekroond met het predicaat ‘beste uit de test’. Het onafhankelijke testoordeel van de Consumentenbond kwam uit op een&nbsp;7,6.
	.container
		.row
			.col-xs-12
				.subfooter-links
					ul
						li #[span(itemprop='name') #[a(href='http://www.zilverenkruis.nl/Pages/Disclaimer.aspx' data-cre='#{dataCre}' itemprop='url') disclaimer]]
						li #[span(itemprop='name') #[a(href='http://www.zilverenkruis.nl/Pages/Privacy.aspx' data-cre='#{dataCre}' itemprop='url') privacy]]
						li #[span(itemprop='name') #[a(href='http://www.zilverenkruis.nl/Pages/Cookies.aspx' data-cre='#{dataCre}' itemprop='url') cookies]]