header.page-head
	.container
		.row
			.col-xs-6
				.branding
					h1.site-name Zilveren Kruis Achmea
					.site-logo
						a.lp-link(onclick="Link('#{zkLink}','cross','zka','#{dataCre}','referrer','49545');return false;" href="#{zkLink}")
							img.logo(src="img/zilveren-kruis-achmea-raad-en-daad-logo-383x120px.png" alt="Zilveren Kruis Achmea")
			.col-xs-6
				.branding--secondary
					.centraal-beheer-logo
						a.lp-link(onclick="Link('#{cbLink}','cross','zka','#{dataCre}','referrer','49545');return false;" href="#{cbLink}")
							img.logo(src="img/centraal-beheer-achmea-logo-333x120px.png" alt="Centraal Beheer Achmea")